.bg-g1 {
  background-color: #A5E3E0 !important;
}
.bg-g2 {
  background-color: #EFB1B1 !important;
}
.bg-g3 {
  background-color: #B4A5E3 !important;
}
.bg-g4 {
  background-color: #B4A5E3 !important;
}
.bg-g5 {
  background-color: #e2e3a5 !important;
}
.bg-g6 {
  background-color: #A5C0E3 !important;
}
.bg-g7 {
  background-color: #d9a5e3 !important; /* Noble gases / edelgas */
}
.bg-g8 {
  background-color: #a5cce3 !important;
}
.bg-g9 {
  background-color: #E3B7A5 !important;
}
.bg-g10 {
  background-color: #b3b3b3 !important;
}